body{
  background-color: grey;
}
h1{
  background-color: gold; text-align: center; padding: 3px;
}
h3{
  background-color: black;
}

h2{
  text-decoration: underline
  
}

p{
  font-size: x-large;
  height: 200px;
  width:700px;
  background-color: rgb(126, 32, 4);
}
